.dashboard-container h2 {
    color: #3a9bf6;
    text-align: center;
    text-decoration: underline;
  }

  .dashboard-container p{
    font-size: small;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 10px;
  }
  
  .ag-theme-quartz{
    padding: auto;
  }
  .ag-theme-alpine {
    height: 400px;
    width: 80%;
  }
  .vs h2{
    color: crimson;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .chart-container {
    max-width: 600px;
    width: 400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
  }

  .chart-container .bar{
    width: 60px;
  }
  .ag-header-row{
    color: brown;
    font-weight: 600;
  }
.ag-header-cell:hover{
cursor: pointer;
color :rgb(201, 163, 25);
}
